@import "/home/shinenolife/.config/themes/shine-theme.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}


/* Waybar */
window#waybar {
    background: transparent;
    /* main window transparent background */
}
tooltip {
    font-family: inherit;
    background: @background;
    border: 2px solid @primary;
    border-radius: 5px;
}



/* Left / Right / Center Modules  */
.modules-right {
    background: @background; 
    margin: 4px 4px 4px 4px; /* U R L D */
    padding: 0px 8px 0px 8px;
    border-radius: 5px; /*Default 5*/
    border: 1.5px solid @primary;
    color: @primary;
}
.modules-right > * {
    padding: 0px 8px 0px 8px;
}
.modules-left {
    background: @background; 
    margin: 4px 4px 4px 4px;
    padding: 0px 8px 0px 8px;
    border-radius: 5px; /*Default 5*/
    border: 1.5px solid @primary;
    color: @primary;
}
.modules-center {
    background: @background; 
    margin: 4px 4px 4px 4px;
    border-radius: 5px; /*Default 5*/
    border: 1.5px solid @primary;
    color: @primary;
}



/* Modules padding */
#workspaces,
#group-power,
#group-audio-control,
#group-audio-display,
#mpris,
#privacy-item,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#custom-swaync,
#battery,
#custom-split,
#custom-updates { 
    margin: 0px 2px 0px 2px;
}

#custom-openbracket {
    margin: 0px 0px 0px 12px;
    color: @highlight;
}
#custom-closebracket {
    margin: 0px 12px 0px 0px;
    color: @highlight;
}



/* Other modules stuff */
#cava {
    color: @highlight;
}
#privacy-item {
    background: @warning;
    color: #15161e;
}



/* Worspace buttons */
#workspaces button {
    color: @primary;
}
#workspaces button.active {
    background: @surface;
}
#workspaces button:hover {
    background: @surface;
}




/* Pulse audio slider */
#pulseaudio-slider {
    padding: 2px 2px;
    background: @background; 
    border-radius: 15px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: @primary;
}
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @background;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background: @primary;
}

