* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    /* main window transparent background */
}

tooltip {
    font-family: inherit;
    background: #15161e;
    /* tooltip background */
    border: 2px solid #c0caf5;
    /* tooltip border size and color */
    border-radius: 5px;
    /* tooltip rounded corners */
}

#workspaces,
#group-power,
#group-audio-control,
#group-audio-display,
#mpris,
/* #cava, */
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#battery,
#custom-updates {   
    background: #091833; 
    /* background color */
    margin: 10px 4px 4px 4px;
    /* empty spaces around */
    padding: 0px 8px 0px 8px;
    /* rounded corners */
    border-radius: 15px; /*Default 5*/
    color: #00b8ff;
}


#cava {
    color: #9600ff;
}


#privacy-item {
    background: #9600ff;
    color: #15161e;
}

#workspaces button {
    font-size: 10px;
    color: #00b8ff;
}
#workspaces button.empty {
    padding: 0px 10px;
}
#workspaces button:first-child {
    margin-left: 0;
}
#workspaces button.active {
    background: #133e7c;

}
#workspaces button:hover {
    background: #133e7c;
}




#pulseaudio-slider {
    padding: 2px 10px;
    background: #091833; 
    border-radius: 15px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: #00b8ff;
}
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background: #00b8ff;
}

@keyframes blink {
    to {
        background-color: #e64553;
    }
}

