*{
    background:     rgba(10, 13, 22, 0.65);         // background (#0a0d16)
    foreground:     #a75fff;                        // primary
    input-background: #141927;                      // surface
    selected:       #141927;                        // surface
}