@import "/home/shinenolife/.config/themes/shine-theme.css";


/* Config */

* {
    font-family: "JetbrainsMono NFP SemiBold";
    font-style: italic;
}

/* Notification */

.notification {
    background: @bg;
    color: @primary;
    border: 3px solid @bordercolor;
    border-radius: 10px;
    padding:10px;
}

.body {
  color: @primary;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @secondary;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @primary;
  text-shadow: none;
  margin-right: 18px;
}

.close-button {
  background-color: @warning;
  color: @secondary;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @primary;
    background: transparent;
}

.notification.critical progress {
  background-color: @warning;
}

.notification.low progress,
.notification.normal progress {
  background-color: @secondary;
}

/* Control Center */

.control-center {
    background-color: @bg;
    color: @fontcolor;
    border: 3px solid @bordercolor;
    padding: 10px;
}

/* Notifications expanded-group */

.notification-group {
  background-color: transparent;
  margin: 2px 8px 2px 8px;
  font-size: 14px;
}

.notification-group-icon {
  color: @primary;
}

.notification-group-headers {
  color: @primary;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @secondary;
  color: @secondary;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: warning;
  color: @secondary;
}  

/* widget title */
.widget-title {
  color: @primary;
}
.widget-title>button {
  font-size: 1rem;
  color: @primary;
  background: @surface;
  box-shadow: none;
}

.widget-title>button:hover {
  background: warning;
  color: @secondary;
}

/* widget button grid */
button {
    border: 0px;
    min-width: 35px;
    background: @bg;
}

.widget-buttons-grid {
  font-size: x-large;
  background: @surface;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    color: @primary;
    margin: 8px;
    padding: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: color-mix(in srgb, @primary) 55%, transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @secondary;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @secondary;
}

/* dnd widget */
.widget-dnd {
  background: transparent;
  border: 1px solid transparent;
  font-size: large;
  color: @primary;
}

.widget-dnd>label {
  color: @primary;
}

.widget-dnd>switch {
  background: @bg;
  color: @primary;
  border-radius: 6px;
}

.widget-dnd>switch:checked {
  background: @warning;
  border: 1px solid warning;
}

/* volume & backlight widget */

.widget-volume {
  background: @surface;
  color: @primary;
  font-size: x-large;
}

.widget-backlight {
  background: @surface;
  color: @primary;
  font-size: x-large;
}

/* music player widget */
.widget-mpris {
  background: transparent;
  margin: 8px;
}

.widget-mpris button {
  background-color: transparent;
  border-radius: 6px;
}

.widget-mpris button:hover {
  background-color: @secondary;
  color: @secondary;
}

/* sliders in backlight and volume */

trough slider {
    background: @primary;
}

trough slider:hover {
    background: @secondary;
}

trough highlight {
  background: @secondary;
}